backend:
  name: github
  repo: mn-pollinators/pollinator-facts
publish_mode: editorial_workflow
media_folder: src/images
site_url: https://pollinators.app
collections:
  - name: facts
    label: Facts
    label_singular: Fact
    folder: src/facts
    public_folder: '../images'
    preview_path: /f/{{slug}}
    create: true
    editor:
      preview: true
    fields:
      - { name: title, label: Title }
      - name: image
        label: Fact Image
        widget: object
        fields:
          - { name: src, label: Image, widget: image }
          - { name: alt, label: Alt Text, widget: string }
          - { name: creator, label: Creator, widget: string }
          - { name: license, label: License, widget: string }
          - { name: url, label: Source URL, widget: string }
      - name: source
        label: Fact Source
        widget: list
        fields:
          - { name: name, label: Name, widget: string }
          - { name: url, label: URL, widget: string }
      - name: tags
        label: Tags
        widget: list
        field: { name: name }
      - { name: body, label: Body, widget: markdown }
