.slick-slide {
  display: flex !important;
  justify-content: center;
}

.slider-arrow-prev {
  position: absolute;
  left: .5%;
  top: 40%;
}

.slider-arrow-next {
  position: absolute;
  left: 95%;
  top: 40%;
}
.arrow-btn {
  top: 45%;
  z-index: 1;
}
.next {
  float: right;
}
.prev {
  float: left;
}

@media only screen and (max-width: 600px) {
  .slider-arrow-prev {
    display: none;
  }
  .slider-arrow-next {
    display: none;
  }
}
